Mein Beispiel wird hier stattfinden. Mit der neuen tpch database und einer einfachen query zuerst.

In [1]:
import pathlib
from inspect import cleandoc
from mlinspect import PipelineInspector
from mlinspect.utils import get_project_root
from mlinspect.to_sql.dbms_connectors.postgresql_connector import PostgresqlConnector
import os
import time

##Mal schauen ob sich das problem l√∂st, wenn ich alle sachen importiere
from mlinspect.inspections import HistogramForColumns, RowLineage, MaterializeFirstOutputRows
from mlinspect.checks import NoBiasIntroducedFor, NoIllegalFeatures
from demo.feature_overview.no_missing_embeddings import NoMissingEmbeddings
from example_pipelines.healthcare import custom_monkeypatching
from mlinspect import OperatorType
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    

    


POSTGRES_USER = "postgres"
POSTGRES_PW = "123456"
POSTGRES_DB = "db1"
POSTGRES_PORT = 25432
POSTGRES_HOST = "localhost"

#POSTGRES_USER = "luca"
#POSTGRES_PW = "password"
#POSTGRES_DB = "healthcare_benchmark"
#POSTGRES_PORT = 5432
#POSTGRES_HOST = "localhost"

dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW,
                                       port=POSTGRES_PORT, host=POSTGRES_HOST)

print(dbms_connector_p.db_settings)

{'dbname': 'db1', 'user': 'postgres', 'password': '123456', 'port': 25432, 'host': 'localhost'}

In [2]:
pipeline_code = cleandoc("""
    import warnings
    import os
    import pandas as pd
    import numpy as np
    from sklearn.compose import ColumnTransformer
    from sklearn.impute import SimpleImputer
    from sklearn.model_selection import train_test_split
    from sklearn.pipeline import Pipeline
    from sklearn.preprocessing import OneHotEncoder, StandardScaler
    from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier, \
        create_model
    from mlinspect.utils import get_project_root, store_timestamp
    import time
    from mlinspect.to_sql.dbms_connectors.postgresql_connector import PostgresqlConnector
    
    #HIER IST DIE ECHTE TESTDB MIT TPCH DATEN
    POSTGRES_USER = "postgres"
    POSTGRES_PW = "123456"
    POSTGRES_DB = "db1"
    POSTGRES_PORT = 25432
    POSTGRES_HOST = "localhost"
    
    dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW, port=POSTGRES_PORT, host=POSTGRES_HOST)
    
    def udf_disc_price(extended, discount):
        return (extended*(1-discount))

    def udf_charge(extended, discount, tax):
        return extended*((1-discount)*(1+tax))
        #np.multiply(extended, np.multiply(np.subtract(1, discount), np.add(1, tax)))
               
    def load_table(table, sf=1):
        parse_dates=[]
        if table=='orders':
            parse_dates=['o_orderdate']
        elif table=='lineitem':
            parse_dates=['l_shipdate', 'l_commitdate', 'l_receiptdate']

        df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                             dbms_connector_p.connection, parse_dates=parse_dates)
        dbms_connector_p.run(f"END;")
        
        #cols = df.select_dtypes(object).columns
        #df[cols] = df[cols].apply(lambda x: x.astype(str).str.strip())
        return df
   
    #XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    #Query 1
    #parse_dates=['l_shipdate', 'l_commitdate', 'l_receiptdate']
    #lineitem=pd.read_sql_query('SELECT * FROM pg2_sf1_lineitem', dbms_connector_p.connection, parse_dates=parse_dates)
    #
    #df=lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",
    #                "l_extendedprice", "l_discount", "l_tax"]][(lineitem['l_shipdate'] <= '1998-09-01')]
    #df['disc_price'] = udf_disc_price(
    #    df['l_extendedprice'], df['l_discount'])
    #df['charge'] = udf_charge(df['l_extendedprice'],
    #                            df['l_discount'], df['l_tax'])    
    #res = df.groupby(['l_returnflag', 'l_linestatus'])\
    #    .agg({'l_quantity': 'sum', 'l_extendedprice': 'sum', 'disc_price': 'sum', 'charge': 'sum',
    #            'l_quantity': 'mean', 'l_extendedprice': 'mean', 'l_discount': 'mean', 'l_shipdate': 'count'})
    #
    #print("df jjjjjjjjjjjjjjjjjjjjjjjjjjjj", df)
    #print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)
    
    
    #Query 1 with methods
    lineitem = load_table('lineitem', 1)
    
    df = lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",
                   "l_extendedprice", "l_discount", "l_tax"]][(lineitem['l_shipdate'] <= '1998-09-01')]
    df['disc_price'] = udf_disc_price(
        df['l_extendedprice'], df['l_discount'])
    df['charge'] = udf_charge(df['l_extendedprice'],
                              df['l_discount'], df['l_tax'])
    res = df.groupby(['l_returnflag', 'l_linestatus'])\
        .agg({'l_quantity': 'sum', 'l_extendedprice': 'sum', 'disc_price': 'sum', 'charge': 'sum',
              'l_quantity': 'mean', 'l_extendedprice': 'mean', 'l_discount': 'mean', 'l_shipdate': 'count'})
    
    print("df jjjjjjjjjjjjjjjjjjjjjjjjjjjj", df)
    print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)
    
    
    
    
    \"\"\"
    #Query 2
    nation = load_table('nation', 1)
    part = load_table('part', 1)
    supplier = load_table('supplier', 1)
    region = load_table('region', 1)
    partsupp = load_table('partsupp', 1)
    
    ps = partsupp[["ps_partkey", "ps_suppkey", "ps_supplycost"]]
    p = part[["p_partkey", "p_mfgr", "p_size", "p_type"]]#[(part.p_size == 15) & (
        #part.p_type.str.match(".*BRASS$"))][["p_partkey", "p_mfgr"]]
    psp = ps.merge(p, left_on="ps_partkey", right_on="p_partkey")
    s = supplier[["s_suppkey", "s_nationkey", "s_acctbal",
                  "s_name", "s_address", "s_phone", "s_comment"]]
    psps = psp.merge(s, left_on="ps_suppkey", right_on="s_suppkey")[
        ["ps_partkey", "ps_supplycost", "p_mfgr", "s_nationkey",         "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]
    nr = nation.merge(region[region.r_name == "EUROPE"], left_on="n_regionkey",
                      right_on="r_regionkey")[["n_nationkey", "n_name"]]
    pspsnr = psps.merge(nr, left_on="s_nationkey", right_on="n_nationkey")[
        ["ps_partkey", "ps_supplycost", "p_mfgr", "n_name", "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]
    aggr = pspsnr.groupby("ps_partkey").agg(
        {'ps_supplycost': min}).reset_index()
    sj = pspsnr.merge(aggr, left_on=["ps_partkey", "ps_supplycost"], right_on=[
        "ps_partkey", "ps_supplycost"])
    res = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].sort_values(
        ["s_acctbal", "n_name", "s_name", "ps_partkey"], ascending=[False, True, True, True]).head(100)
    
    print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)
    \"\"\"

""")

print(pipeline_code)

import warnings
import os
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier,         create_model
from mlinspect.utils import get_project_root, store_timestamp
import time
from mlinspect.to_sql.dbms_connectors.postgresql_connector import PostgresqlConnector

#HIER IST DIE ECHTE TESTDB MIT TPCH DATEN
POSTGRES_USER = "postgres"
POSTGRES_PW = "123456"
POSTGRES_DB = "db1"
POSTGRES_PORT = 25432
POSTGRES_HOST = "localhost"

dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW, port=POSTGRES_PORT, host=POSTGRES_HOST)

def udf_disc_price(extended, discount):
    return (extended*(1-discount))

def udf_charge(extended, discount, tax):
    return extended*((1-discount)*(1+tax))
    #np.multiply(extended, np.multiply(np.subtract(1, discount), np.add(1, tax)))

def load_table(table, sf=1):
    parse_dates=[]
    if table=='orders':
        parse_dates=['o_orderdate']
    elif table=='lineitem':
        parse_dates=['l_shipdate', 'l_commitdate', 'l_receiptdate']

    df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
    dbms_connector_p.run(f"END;")

    #cols = df.select_dtypes(object).columns
    #df[cols] = df[cols].apply(lambda x: x.astype(str).str.strip())
    return df

#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#Query 1
#parse_dates=['l_shipdate', 'l_commitdate', 'l_receiptdate']
#lineitem=pd.read_sql_query('SELECT * FROM pg2_sf1_lineitem', dbms_connector_p.connection, parse_dates=parse_dates)
#
#df=lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",
#                "l_extendedprice", "l_discount", "l_tax"]][(lineitem['l_shipdate'] <= '1998-09-01')]
#df['disc_price'] = udf_disc_price(
#    df['l_extendedprice'], df['l_discount'])
#df['charge'] = udf_charge(df['l_extendedprice'],
#                            df['l_discount'], df['l_tax'])
#res = df.groupby(['l_returnflag', 'l_linestatus'])    #    .agg({'l_quantity': 'sum', 'l_extendedprice': 'sum', 'disc_price': 'sum', 'charge': 'sum',
#            'l_quantity': 'mean', 'l_extendedprice': 'mean', 'l_discount': 'mean', 'l_shipdate': 'count'})
#
#print("df jjjjjjjjjjjjjjjjjjjjjjjjjjjj", df)
#print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)


#Query 1 with methods
lineitem = load_table('lineitem', 1)

df = lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",
               "l_extendedprice", "l_discount", "l_tax"]][(lineitem['l_shipdate'] <= '1998-09-01')]
df['disc_price'] = udf_disc_price(
    df['l_extendedprice'], df['l_discount'])
df['charge'] = udf_charge(df['l_extendedprice'],
                          df['l_discount'], df['l_tax'])
res = df.groupby(['l_returnflag', 'l_linestatus'])        .agg({'l_quantity': 'sum', 'l_extendedprice': 'sum', 'disc_price': 'sum', 'charge': 'sum',
          'l_quantity': 'mean', 'l_extendedprice': 'mean', 'l_discount': 'mean', 'l_shipdate': 'count'})

print("df jjjjjjjjjjjjjjjjjjjjjjjjjjjj", df)
print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)




"""
#Query 2
nation = load_table('nation', 1)
part = load_table('part', 1)
supplier = load_table('supplier', 1)
region = load_table('region', 1)
partsupp = load_table('partsupp', 1)

ps = partsupp[["ps_partkey", "ps_suppkey", "ps_supplycost"]]
p = part[["p_partkey", "p_mfgr", "p_size", "p_type"]]#[(part.p_size == 15) & (
    #part.p_type.str.match(".*BRASS$"))][["p_partkey", "p_mfgr"]]
psp = ps.merge(p, left_on="ps_partkey", right_on="p_partkey")
s = supplier[["s_suppkey", "s_nationkey", "s_acctbal",
              "s_name", "s_address", "s_phone", "s_comment"]]
psps = psp.merge(s, left_on="ps_suppkey", right_on="s_suppkey")[
    ["ps_partkey", "ps_supplycost", "p_mfgr", "s_nationkey",         "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]
nr = nation.merge(region[region.r_name == "EUROPE"], left_on="n_regionkey",
                  right_on="r_regionkey")[["n_nationkey", "n_name"]]
pspsnr = psps.merge(nr, left_on="s_nationkey", right_on="n_nationkey")[
    ["ps_partkey", "ps_supplycost", "p_mfgr", "n_name", "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]
aggr = pspsnr.groupby("ps_partkey").agg(
    {'ps_supplycost': min}).reset_index()
sj = pspsnr.merge(aggr, left_on=["ps_partkey", "ps_supplycost"], right_on=[
    "ps_partkey", "ps_supplycost"])
res = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].sort_values(
    ["s_acctbal", "n_name", "s_name", "ps_partkey"], ascending=[False, True, True, True]).head(100)

print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)
"""

In [3]:
## The function to retrieve the generated code:
def get_sql_query(pipeline_code, to_sql, dbms_connector=None, mode=None, materialize=None):
    from PIL import Image
    import matplotlib.pyplot as plt
    from mlinspect.visualisation import save_fig_to_path
    import os
    import sys
    
    inspector_result = PipelineInspector \
        .on_pipeline_from_string(pipeline_code) 
    
    if to_sql:
        inspector_result = inspector_result.execute_in_sql(dbms_connector=dbms_connector, mode=mode, materialize=materialize)
    else:
        inspector_result = inspector_result.execute()
        return None

    #extracted_dag = inspector_result.dag
    #filename = os.path.join(str(get_project_root()), "demo", "feature_overview", "newTest.png")
    #save_fig_to_path(extracted_dag, filename)
    #im = Image.open(filename)
    #plt.imshow(im)
    
    #test_file = \
    #    pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/pipeline.sql")
    
    #with test_file.open("r") as file:
    #    test__code = file.read()

    #return test__code
    return None

In [4]:
#dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW,
#                                       port=POSTGRES_PORT, host=POSTGRES_HOST)
#print(dbms_connector_p.db_settings)

def run_for_all(pipeline_code, mode="", materialize=None):
    
#    dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW,
#                                       port=POSTGRES_PORT, host=POSTGRES_HOST)
    print(dbms_connector_p.db_settings)

    t0 = time.time()
    test_code = get_sql_query(pipeline_code=pipeline_code, to_sql=True, dbms_connector=dbms_connector_p, mode=mode, materialize=materialize)
    t1 = time.time()
    print("\nTime spend with modified SQL inspections (PSQL): " + str(t1 - t0))
    
    #t2 = time.time()
    #result= get_sql_query(pipeline_code=pipeline_code, to_sql=False)
    #t3 = time.time()
    #print("\nTime spend with original (pandas): " + str(t3 - t2))

    #(also eventuell k√∂nnte ich hier statt get_sql_query oben diesen befehl get_sql_query_for_pipeline von code_as_string.py in example_to_sql benutzen, damit der setup_code und test_code in die files geschrieben wird, aber noch nicht ausgef√ºhrt wird!!!)
    #(und dann diesen befehl hier laufen lassen, damit die tabellen nicht neu im dbms erzeugt werden) dbms_connector_p.run(test_code)
    #print(setup_code + "\n" + test_code)

In [5]:
# The code generated using "CTE":

#run_for_all(pipeline_code, mode="CTE", materialize=False)

In [6]:
# The code generated using "VIEW":

run_for_all(pipeline_code, mode="VIEW", materialize=False)

{'dbname': 'db1', 'user': 'postgres', 'password': '123456', 'port': 25432, 'host': 'localhost'}
TTTTTTTTTTTTTTTTTTTTT hier ist der modified ast
Module(body=[ImportFrom(module='mlinspect.instrumentation._pipeline_executor', names=[alias(name='set_code_reference_call', asname=None), alias(name='set_code_reference_subscript', asname=None), alias(name='monkey_patch', asname=None), alias(name='undo_monkey_patch', asname=None)], level=0), Expr(value=Call(func=Name(id='monkey_patch', ctx=Load()), args=[], keywords=[])), Import(names=[alias(name='warnings', asname=None)]), Import(names=[alias(name='os', asname=None)]), Import(names=[alias(name='pandas', asname='pd')]), Import(names=[alias(name='numpy', asname='np')]), ImportFrom(module='sklearn.compose', names=[alias(name='ColumnTransformer', asname=None)], level=0), ImportFrom(module='sklearn.impute', names=[alias(name='SimpleImputer', asname=None)], level=0), ImportFrom(module='sklearn.model_selection', names=[alias(name='train_test_split', asname=None)], level=0), ImportFrom(module='sklearn.pipeline', names=[alias(name='Pipeline', asname=None)], level=0), ImportFrom(module='sklearn.preprocessing', names=[alias(name='OneHotEncoder', asname=None), alias(name='StandardScaler', asname=None)], level=0), ImportFrom(module='example_pipelines.healthcare.healthcare_utils', names=[alias(name='MyW2VTransformer', asname=None), alias(name='MyKerasClassifier', asname=None), alias(name='create_model', asname=None)], level=0), ImportFrom(module='mlinspect.utils', names=[alias(name='get_project_root', asname=None), alias(name='store_timestamp', asname=None)], level=0), Import(names=[alias(name='time', asname=None)]), ImportFrom(module='mlinspect.to_sql.dbms_connectors.postgresql_connector', names=[alias(name='PostgresqlConnector', asname=None)], level=0), Assign(targets=[Name(id='POSTGRES_USER', ctx=Store())], value=Constant(value='postgres', kind=None), type_comment=None), Assign(targets=[Name(id='POSTGRES_PW', ctx=Store())], value=Constant(value='123456', kind=None), type_comment=None), Assign(targets=[Name(id='POSTGRES_DB', ctx=Store())], value=Constant(value='db1', kind=None), type_comment=None), Assign(targets=[Name(id='POSTGRES_PORT', ctx=Store())], value=Constant(value=25432, kind=None), type_comment=None), Assign(targets=[Name(id='POSTGRES_HOST', ctx=Store())], value=Constant(value='localhost', kind=None), type_comment=None), Assign(targets=[Name(id='dbms_connector_p', ctx=Store())], value=Call(func=Name(id='PostgresqlConnector', ctx=Load()), args=[], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=22, kind=None), Constant(value=19, kind=None), Constant(value=22, kind=None), Constant(value=140, kind=None)], keywords=[keyword(arg='dbname', value=Name(id='POSTGRES_DB', ctx=Load())), keyword(arg='user', value=Name(id='POSTGRES_USER', ctx=Load())), keyword(arg='password', value=Name(id='POSTGRES_PW', ctx=Load())), keyword(arg='port', value=Name(id='POSTGRES_PORT', ctx=Load())), keyword(arg='host', value=Name(id='POSTGRES_HOST', ctx=Load()))]))]), type_comment=None), FunctionDef(name='udf_disc_price', args=arguments(posonlyargs=[], args=[arg(arg='extended', annotation=None, type_comment=None), arg(arg='discount', annotation=None, type_comment=None)], vararg=None, kwonlyargs=[], kw_defaults=[], kwarg=None, defaults=[]), body=[Return(value=BinOp(left=Name(id='extended', ctx=Load()), op=Mult(), right=BinOp(left=Constant(value=1, kind=None), op=Sub(), right=Name(id='discount', ctx=Load()))))], decorator_list=[], returns=None, type_comment=None), FunctionDef(name='udf_charge', args=arguments(posonlyargs=[], args=[arg(arg='extended', annotation=None, type_comment=None), arg(arg='discount', annotation=None, type_comment=None), arg(arg='tax', annotation=None, type_comment=None)], vararg=None, kwonlyargs=[], kw_defaults=[], kwarg=None, defaults=[]), body=[Return(value=BinOp(left=Name(id='extended', ctx=Load()), op=Mult(), right=BinOp(left=BinOp(left=Constant(value=1, kind=None), op=Sub(), right=Name(id='discount', ctx=Load())), op=Mult(), right=BinOp(left=Constant(value=1, kind=None), op=Add(), right=Name(id='tax', ctx=Load())))))], decorator_list=[], returns=None, type_comment=None), FunctionDef(name='load_table', args=arguments(posonlyargs=[], args=[arg(arg='table', annotation=None, type_comment=None), arg(arg='sf', annotation=None, type_comment=None)], vararg=None, kwonlyargs=[], kw_defaults=[], kwarg=None, defaults=[Constant(value=1, kind=None)]), body=[Assign(targets=[Name(id='parse_dates', ctx=Store())], value=List(elts=[], ctx=Load()), type_comment=None), If(test=Compare(left=Name(id='table', ctx=Load()), ops=[Eq()], comparators=[Constant(value='orders', kind=None)]), body=[Assign(targets=[Name(id='parse_dates', ctx=Store())], value=List(elts=[Constant(value='o_orderdate', kind=None)], ctx=Load()), type_comment=None)], orelse=[If(test=Compare(left=Name(id='table', ctx=Load()), ops=[Eq()], comparators=[Constant(value='lineitem', kind=None)]), body=[Assign(targets=[Name(id='parse_dates', ctx=Store())], value=List(elts=[Constant(value='l_shipdate', kind=None), Constant(value='l_commitdate', kind=None), Constant(value='l_receiptdate', kind=None)], ctx=Load()), type_comment=None)], orelse=[])]), Assign(targets=[Name(id='df', ctx=Store())], value=Call(func=Attribute(value=Name(id='pd', ctx=Load()), attr='read_sql_query', ctx=Load()), args=[BinOp(left=BinOp(left=BinOp(left=Constant(value='SELECT * FROM pg2_sf', kind=None), op=Add(), right=Call(func=Name(id='str', ctx=Load()), args=[Name(id='sf', ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=38, kind=None), Constant(value=50, kind=None), Constant(value=38, kind=None), Constant(value=57, kind=None)], keywords=[]))])), op=Add(), right=Constant(value='_', kind=None)), op=Add(), right=Name(id='table', ctx=Load())), Attribute(value=Name(id='dbms_connector_p', ctx=Load()), attr='connection', ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=38, kind=None), Constant(value=9, kind=None), Constant(value=39, kind=None), Constant(value=78, kind=None)], keywords=[keyword(arg='parse_dates', value=Name(id='parse_dates', ctx=Load()))]))]), type_comment=None), Expr(value=Call(func=Attribute(value=Name(id='dbms_connector_p', ctx=Load()), attr='run', ctx=Load()), args=[JoinedStr(values=[Constant(value='END;', kind=None)])], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=40, kind=None), Constant(value=4, kind=None), Constant(value=40, kind=None), Constant(value=33, kind=None)], keywords=[]))])), Return(value=Name(id='df', ctx=Load()))], decorator_list=[], returns=None, type_comment=None), Assign(targets=[Name(id='lineitem', ctx=Store())], value=Call(func=Name(id='load_table', ctx=Load()), args=[Constant(value='lineitem', kind=None), Constant(value=1, kind=None)], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=65, kind=None), Constant(value=11, kind=None), Constant(value=65, kind=None), Constant(value=36, kind=None)], keywords=[]))]), type_comment=None), Assign(targets=[Name(id='df', ctx=Store())], value=Subscript(value=Subscript(value=Name(id='lineitem', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=67, kind=None), Constant(value=5, kind=None), Constant(value=68, kind=None), Constant(value=57, kind=None), Index(value=List(elts=[Constant(value='l_shipdate', kind=None), Constant(value='l_returnflag', kind=None), Constant(value='l_linestatus', kind=None), Constant(value='l_quantity', kind=None), Constant(value='l_extendedprice', kind=None), Constant(value='l_discount', kind=None), Constant(value='l_tax', kind=None)], ctx=Load()))], keywords=[]), ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=67, kind=None), Constant(value=5, kind=None), Constant(value=68, kind=None), Constant(value=99, kind=None), Index(value=Compare(left=Subscript(value=Name(id='lineitem', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=68, kind=None), Constant(value=59, kind=None), Constant(value=68, kind=None), Constant(value=81, kind=None), Index(value=Constant(value='l_shipdate', kind=None))], keywords=[]), ctx=Load()), ops=[LtE()], comparators=[Constant(value='1998-09-01', kind=None)]))], keywords=[]), ctx=Load()), type_comment=None), Assign(targets=[Subscript(value=Name(id='df', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=69, kind=None), Constant(value=0, kind=None), Constant(value=70, kind=None), Constant(value=44, kind=None), Index(value=Constant(value='disc_price', kind=None))], keywords=[]), ctx=Store())], value=Call(func=Name(id='udf_disc_price', ctx=Load()), args=[Subscript(value=Name(id='df', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=70, kind=None), Constant(value=4, kind=None), Constant(value=70, kind=None), Constant(value=25, kind=None), Index(value=Constant(value='l_extendedprice', kind=None))], keywords=[]), ctx=Load()), Subscript(value=Name(id='df', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=70, kind=None), Constant(value=27, kind=None), Constant(value=70, kind=None), Constant(value=43, kind=None), Index(value=Constant(value='l_discount', kind=None))], keywords=[]), ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=69, kind=None), Constant(value=19, kind=None), Constant(value=70, kind=None), Constant(value=44, kind=None)], keywords=[]))]), type_comment=None), Assign(targets=[Subscript(value=Name(id='df', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=71, kind=None), Constant(value=0, kind=None), Constant(value=72, kind=None), Constant(value=56, kind=None), Index(value=Constant(value='charge', kind=None))], keywords=[]), ctx=Store())], value=Call(func=Name(id='udf_charge', ctx=Load()), args=[Subscript(value=Name(id='df', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=71, kind=None), Constant(value=26, kind=None), Constant(value=71, kind=None), Constant(value=47, kind=None), Index(value=Constant(value='l_extendedprice', kind=None))], keywords=[]), ctx=Load()), Subscript(value=Name(id='df', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=72, kind=None), Constant(value=26, kind=None), Constant(value=72, kind=None), Constant(value=42, kind=None), Index(value=Constant(value='l_discount', kind=None))], keywords=[]), ctx=Load()), Subscript(value=Name(id='df', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=72, kind=None), Constant(value=44, kind=None), Constant(value=72, kind=None), Constant(value=55, kind=None), Index(value=Constant(value='l_tax', kind=None))], keywords=[]), ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=71, kind=None), Constant(value=15, kind=None), Constant(value=72, kind=None), Constant(value=56, kind=None)], keywords=[]))]), type_comment=None), Assign(targets=[Name(id='res', ctx=Store())], value=Call(func=Attribute(value=Call(func=Attribute(value=Name(id='df', ctx=Load()), attr='groupby', ctx=Load()), args=[List(elts=[Constant(value='l_returnflag', kind=None), Constant(value='l_linestatus', kind=None)], ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=73, kind=None), Constant(value=6, kind=None), Constant(value=73, kind=None), Constant(value=50, kind=None)], keywords=[]))]), attr='agg', ctx=Load()), args=[Dict(keys=[Constant(value='l_quantity', kind=None), Constant(value='l_extendedprice', kind=None), Constant(value='disc_price', kind=None), Constant(value='charge', kind=None), Constant(value='l_quantity', kind=None), Constant(value='l_extendedprice', kind=None), Constant(value='l_discount', kind=None), Constant(value='l_shipdate', kind=None)], values=[Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='mean', kind=None), Constant(value='mean', kind=None), Constant(value='mean', kind=None), Constant(value='count', kind=None)])], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=73, kind=None), Constant(value=6, kind=None), Constant(value=74, kind=None), Constant(value=104, kind=None)], keywords=[]))]), type_comment=None), Expr(value=Call(func=Name(id='print', ctx=Load()), args=[Constant(value='df jjjjjjjjjjjjjjjjjjjjjjjjjjjj', kind=None), Name(id='df', ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=76, kind=None), Constant(value=0, kind=None), Constant(value=76, kind=None), Constant(value=44, kind=None)], keywords=[]))])), Expr(value=Call(func=Name(id='print', ctx=Load()), args=[Constant(value='res jjjjjjjjjjjjjjjjjjjjjjjjjj', kind=None), Name(id='res', ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=77, kind=None), Constant(value=0, kind=None), Constant(value=77, kind=None), Constant(value=44, kind=None)], keywords=[]))])), Expr(value=Constant(value='\n#Query 2\nnation = load_table(\'nation\', 1)\npart = load_table(\'part\', 1)\nsupplier = load_table(\'supplier\', 1)\nregion = load_table(\'region\', 1)\npartsupp = load_table(\'partsupp\', 1)\n\nps = partsupp[["ps_partkey", "ps_suppkey", "ps_supplycost"]]\np = part[["p_partkey", "p_mfgr", "p_size", "p_type"]]#[(part.p_size == 15) & (\n    #part.p_type.str.match(".*BRASS$"))][["p_partkey", "p_mfgr"]]\npsp = ps.merge(p, left_on="ps_partkey", right_on="p_partkey")\ns = supplier[["s_suppkey", "s_nationkey", "s_acctbal",\n              "s_name", "s_address", "s_phone", "s_comment"]]\npsps = psp.merge(s, left_on="ps_suppkey", right_on="s_suppkey")[\n    ["ps_partkey", "ps_supplycost", "p_mfgr", "s_nationkey",         "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]\nnr = nation.merge(region[region.r_name == "EUROPE"], left_on="n_regionkey",\n                  right_on="r_regionkey")[["n_nationkey", "n_name"]]\npspsnr = psps.merge(nr, left_on="s_nationkey", right_on="n_nationkey")[\n    ["ps_partkey", "ps_supplycost", "p_mfgr", "n_name", "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]\naggr = pspsnr.groupby("ps_partkey").agg(\n    {\'ps_supplycost\': min}).reset_index()\nsj = pspsnr.merge(aggr, left_on=["ps_partkey", "ps_supplycost"], right_on=[\n    "ps_partkey", "ps_supplycost"])\nres = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].sort_values(\n    ["s_acctbal", "n_name", "s_name", "ps_partkey"], ascending=[False, True, True, True]).head(100)\n\nprint("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)\n', kind=None))], type_ignores=[])
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV VORBEI HIER F√ÑNGT DER NEUE CODE AN
ALL SOURCE SEGMENTS POSTGRES_USER = "postgres"
ALL SOURCE SEGMENTS POSTGRES_PW = "123456"
ALL SOURCE SEGMENTS POSTGRES_DB = "db1"
ALL SOURCE SEGMENTS POSTGRES_PORT = 25432
ALL SOURCE SEGMENTS POSTGRES_HOST = "localhost"
ALL SOURCE SEGMENTS dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW, port=POSTGRES_PORT, host=POSTGRES_HOST)
ALL SOURCE SEGMENTS parse_dates=[]
ALL SOURCE SEGMENTS parse_dates=['o_orderdate']
ALL SOURCE SEGMENTS parse_dates=['l_shipdate', 'l_commitdate', 'l_receiptdate']
ALL SOURCE SEGMENTS df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
ALL SOURCE SEGMENTS lineitem = load_table('lineitem', 1)
ALL SOURCE SEGMENTS df = lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",
               "l_extendedprice", "l_discount", "l_tax"]][(lineitem['l_shipdate'] <= '1998-09-01')]
ALL SOURCE SEGMENTS df['disc_price'] = udf_disc_price(
    df['l_extendedprice'], df['l_discount'])
ALL SOURCE SEGMENTS df['charge'] = udf_charge(df['l_extendedprice'],
                          df['l_discount'], df['l_tax'])
ALL SOURCE SEGMENTS res = df.groupby(['l_returnflag', 'l_linestatus'])        .agg({'l_quantity': 'sum', 'l_extendedprice': 'sum', 'disc_price': 'sum', 'charge': 'sum',
          'l_quantity': 'mean', 'l_extendedprice': 'mean', 'l_discount': 'mean', 'l_shipdate': 'count'})

OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO ICH WILL WISSEN OB PATCHED_READ_sql_query ausgel√∂st wird :D
RRRRRRRRRRRRRRRRRRRRRRRRRR original <function read_sql_query at 0x0000019A1BBB4C10>
TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT2
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º ergebnis_source_code     df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º caller_source_code in monkeypatching,  pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente Original_func <function read_sql_query at 0x0000019A1BBB4C10>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente execute_inspections_func <function PandasPatchingSQL.patched_read_sql_query.<locals>.execute_inspections at 0x0000019A3D8515E0>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente *args SELECT * FROM pg2_sf1_lineitem <connection object at 0x0000019A3D84E150; dsn: 'user=postgres password=xxx dbname=db1 host=localhost port=25432', closed: 0>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente  **kwargs parse_dates
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º der split[0]     df
<_ast.Assign object at 0x0000019A3562E610>
vergleich astnode und last <_ast.Call object at 0x0000019A3D51A250> <_ast.Assign object at 0x0000019A3562E610>
vergleich helpernode und last <_ast.Call object at 0x0000019A3D624370> <_ast.Assign object at 0x0000019A3562E610>
dump lastop Assign(targets=[Name(id='res', ctx=Store())], value=Call(func=Attribute(value=Call(func=Attribute(value=Name(id='df', ctx=Load()), attr='groupby', ctx=Load()), args=[List(elts=[Constant(value='l_returnflag', kind=None), Constant(value='l_linestatus', kind=None)], ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=73, kind=None), Constant(value=6, kind=None), Constant(value=73, kind=None), Constant(value=50, kind=None)], keywords=[]))]), attr='agg', ctx=Load()), args=[Dict(keys=[Constant(value='l_quantity', kind=None), Constant(value='l_extendedprice', kind=None), Constant(value='disc_price', kind=None), Constant(value='charge', kind=None), Constant(value='l_quantity', kind=None), Constant(value='l_extendedprice', kind=None), Constant(value='l_discount', kind=None), Constant(value='l_shipdate', kind=None)], values=[Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='mean', kind=None), Constant(value='mean', kind=None), Constant(value='mean', kind=None), Constant(value='count', kind=None)])], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=73, kind=None), Constant(value=6, kind=None), Constant(value=74, kind=None), Constant(value=104, kind=None)], keywords=[]))]), type_comment=None)
dump call_helper_ast_node Call()
dump call_ast_node Call()
vergleich echt last_op False
vllt alte linenummer? 38
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 38
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper op_id 0
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_code_reference CodeReference(lineno=38, col_offset=9, end_lineno=39, end_col_offset=78)
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_source_code pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 38
OOOOOOOO und das hier folgt direkt danach
op_id:  0 caller_filename:  <string-source> lineno:  38 optional_code_reference:  CodeReference(lineno=38, col_offset=9, end_lineno=39, end_col_offset=78) optional_source_code:  pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
SELECT * FROM pg2_sf1_lineitem
('SELECT * FROM pg2_sf1_lineitem', <connection object at 0x0000019A3D84E150; dsn: 'user=postgres password=xxx dbname=db1 host=localhost port=25432', closed: 0>)
('SELECT * FROM pg2_sf1_lineitem limit 10000', <connection object at 0x0000019A3D84E150; dsn: 'user=postgres password=xxx dbname=db1 host=localhost port=25432', closed: 0>)
ssssssssssssssssssssssssss hier sind wichtige infos zu result, origininal, argfs , kwargs. Result:       l_orderkey  l_partkey  l_suppkey  l_linenumber  l_quantity  \
0              1     155190       7706             1        17.0
1              1      67310       7311             2        36.0
2              1      63700       3701             3         8.0
3              1       2132       4633             4        28.0
4              1      24027       1534             5        24.0
...          ...        ...        ...           ...         ...
9995       10051      82853        378             1        31.0
9996       10051      97751       2770             2        28.0
9997       10051      86917       6918             3        14.0
9998       10051       5431       5432             4        46.0
9999       10052      38654       8655             1        30.0

      l_extendedprice  l_discount  l_tax l_returnflag l_linestatus l_shipdate  \
0            21168.23        0.04   0.02            N            O 1996-03-13
1            45983.16        0.09   0.06            N            O 1996-04-12
2            13309.60        0.10   0.02            N            O 1996-01-29
3            28955.64        0.09   0.06            N            O 1996-04-21
4            22824.48        0.10   0.04            N            O 1996-03-30
...               ...         ...    ...          ...          ...        ...
9995         56911.35        0.08   0.04            N            O 1996-06-20
9996         48965.00        0.06   0.08            N            O 1996-06-04
9997         26654.74        0.08   0.00            N            O 1996-08-23
9998         61475.78        0.08   0.02            N            O 1996-07-11
9999         47779.50        0.07   0.06            A            F 1994-12-18

     l_commitdate l_receiptdate             l_shipinstruct  l_shipmode  \
0      1996-02-12    1996-03-22  DELIVER IN PERSON          TRUCK
1      1996-02-28    1996-04-20  TAKE BACK RETURN           MAIL
2      1996-03-05    1996-01-31  TAKE BACK RETURN           REG AIR
3      1996-03-30    1996-05-16  NONE                       AIR
4      1996-03-14    1996-04-01  NONE                       FOB
...           ...           ...                        ...         ...
9995   1996-07-17    1996-07-18  DELIVER IN PERSON          SHIP
9996   1996-06-24    1996-06-08  TAKE BACK RETURN           TRUCK
9997   1996-08-18    1996-09-10  TAKE BACK RETURN           REG AIR
9998   1996-08-21    1996-07-29  COLLECT COD                TRUCK
9999   1994-12-02    1994-12-29  NONE                       SHIP

                               l_comment
0                egular courts above the
1     ly final dependencies: slyly bold
2          riously. regular, express dep
3                lites. fluffily even de
4                pending foxes. slyly re
...                                  ...
9995      nal packages sleep along the r
9996                     final ideas sle
9997           ully even requests are fi
9998     eaves are after the blithely ev
9999            ove the blithely final a

[10000 rows x 16 columns]  original  <function read_sql_query at 0x0000019A1BBB4C10> args ('SELECT * FROM pg2_sf1_lineitem', <connection object at 0x0000019A3D84E150; dsn: 'user=postgres password=xxx dbname=db1 host=localhost port=25432', closed: 0>) kwargs {'parse_dates': ['l_shipdate', 'l_commitdate', 'l_receiptdate']}
ffffffffffffffffffffffffffffff targetdf      df
9999999999999999999 original <function read_sql_query at 0x0000019A1BBB4C10>
CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC  ['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']
++++++++++++++++ sql_code: +++++++++++++++++++++  SELECT *, ctid AS pg2_sf1_lineitem_ctid
FROM pg2_sf1_lineitem
['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']
['pg2_sf1_lineitem_ctid']
LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL WIR sind in finish_sql_call LLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
sqlcode  SELECT *, ctid AS pg2_sf1_lineitem_ctid
FROM pg2_sf1_lineitem
result        l_orderkey  l_partkey  l_suppkey  l_linenumber  l_quantity  \
0              1     155190       7706             1        17.0
1              1      67310       7311             2        36.0
2              1      63700       3701             3         8.0
3              1       2132       4633             4        28.0
4              1      24027       1534             5        24.0
...          ...        ...        ...           ...         ...
9995       10051      82853        378             1        31.0
9996       10051      97751       2770             2        28.0
9997       10051      86917       6918             3        14.0
9998       10051       5431       5432             4        46.0
9999       10052      38654       8655             1        30.0

      l_extendedprice  l_discount  l_tax l_returnflag l_linestatus l_shipdate  \
0            21168.23        0.04   0.02            N            O 1996-03-13
1            45983.16        0.09   0.06            N            O 1996-04-12
2            13309.60        0.10   0.02            N            O 1996-01-29
3            28955.64        0.09   0.06            N            O 1996-04-21
4            22824.48        0.10   0.04            N            O 1996-03-30
...               ...         ...    ...          ...          ...        ...
9995         56911.35        0.08   0.04            N            O 1996-06-20
9996         48965.00        0.06   0.08            N            O 1996-06-04
9997         26654.74        0.08   0.00            N            O 1996-08-23
9998         61475.78        0.08   0.02            N            O 1996-07-11
9999         47779.50        0.07   0.06            A            F 1994-12-18

     l_commitdate l_receiptdate             l_shipinstruct  l_shipmode  \
0      1996-02-12    1996-03-22  DELIVER IN PERSON          TRUCK
1      1996-02-28    1996-04-20  TAKE BACK RETURN           MAIL
2      1996-03-05    1996-01-31  TAKE BACK RETURN           REG AIR
3      1996-03-30    1996-05-16  NONE                       AIR
4      1996-03-14    1996-04-01  NONE                       FOB
...           ...           ...                        ...         ...
9995   1996-07-17    1996-07-18  DELIVER IN PERSON          SHIP
9996   1996-06-24    1996-06-08  TAKE BACK RETURN           TRUCK
9997   1996-08-18    1996-09-10  TAKE BACK RETURN           REG AIR
9998   1996-08-21    1996-07-29  COLLECT COD                TRUCK
9999   1994-12-02    1994-12-29  NONE                       SHIP

                               l_comment
0                egular courts above the
1     ly final dependencies: slyly bold
2          riously. regular, express dep
3                lites. fluffily even de
4                pending foxes. slyly re
...                                  ...
9995      nal packages sleep along the r
9996                     final ideas sle
9997           ully even requests are fi
9998     eaves are after the blithely ev
9999            ove the blithely final a

[10000 rows x 16 columns]
tracking_cols  ['pg2_sf1_lineitem_ctid']
non_tracking_cols  None
origin_context  None
cte_name  pg2_sf1_lineitem_1_mlinid0_ctid
PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP  Hier sind wir in Wrap_in_sql_obj in sql_logic PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
sqlcode SELECT *, ctid AS pg2_sf1_lineitem_ctid
FROM pg2_sf1_lineitem
block_name pg2_sf1_lineitem_1_mlinid0_ctid
Und hier ist das ergebnis der beiden werte
sqlcode  CREATE VIEW pg2_sf1_lineitem_1_mlinid0_ctid AS (
	SELECT *, ctid AS pg2_sf1_lineitem_ctid
	FROM pg2_sf1_lineitem
);

block_name  pg2_sf1_lineitem_1_mlinid0_ctid
Hier will ich kurz wissen ob die Tableinfo ver√§ndert wurde
altes result tableinfo       l_orderkey  l_partkey  l_suppkey  l_linenumber  l_quantity  \
0              1     155190       7706             1        17.0
1              1      67310       7311             2        36.0
2              1      63700       3701             3         8.0
3              1       2132       4633             4        28.0
4              1      24027       1534             5        24.0
...          ...        ...        ...           ...         ...
9995       10051      82853        378             1        31.0
9996       10051      97751       2770             2        28.0
9997       10051      86917       6918             3        14.0
9998       10051       5431       5432             4        46.0
9999       10052      38654       8655             1        30.0

      l_extendedprice  l_discount  l_tax l_returnflag l_linestatus l_shipdate  \
0            21168.23        0.04   0.02            N            O 1996-03-13
1            45983.16        0.09   0.06            N            O 1996-04-12
2            13309.60        0.10   0.02            N            O 1996-01-29
3            28955.64        0.09   0.06            N            O 1996-04-21
4            22824.48        0.10   0.04            N            O 1996-03-30
...               ...         ...    ...          ...          ...        ...
9995         56911.35        0.08   0.04            N            O 1996-06-20
9996         48965.00        0.06   0.08            N            O 1996-06-04
9997         26654.74        0.08   0.00            N            O 1996-08-23
9998         61475.78        0.08   0.02            N            O 1996-07-11
9999         47779.50        0.07   0.06            A            F 1994-12-18

     l_commitdate l_receiptdate             l_shipinstruct  l_shipmode  \
0      1996-02-12    1996-03-22  DELIVER IN PERSON          TRUCK
1      1996-02-28    1996-04-20  TAKE BACK RETURN           MAIL
2      1996-03-05    1996-01-31  TAKE BACK RETURN           REG AIR
3      1996-03-30    1996-05-16  NONE                       AIR
4      1996-03-14    1996-04-01  NONE                       FOB
...           ...           ...                        ...         ...
9995   1996-07-17    1996-07-18  DELIVER IN PERSON          SHIP
9996   1996-06-24    1996-06-08  TAKE BACK RETURN           TRUCK
9997   1996-08-18    1996-09-10  TAKE BACK RETURN           REG AIR
9998   1996-08-21    1996-07-29  COLLECT COD                TRUCK
9999   1994-12-02    1994-12-29  NONE                       SHIP

                               l_comment
0                egular courts above the
1     ly final dependencies: slyly bold
2          riously. regular, express dep
3                lites. fluffily even de
4                pending foxes. slyly re
...                                  ...
9995      nal packages sleep along the r
9996                     final ideas sle
9997           ully even requests are fi
9998     eaves are after the blithely ev
9999            ove the blithely final a

[10000 rows x 16 columns]
neue tableinfo result TableInfo(data_object=      l_orderkey  l_partkey  l_suppkey  l_linenumber  l_quantity  \
0              1     155190       7706             1        17.0
1              1      67310       7311             2        36.0
2              1      63700       3701             3         8.0
3              1       2132       4633             4        28.0
4              1      24027       1534             5        24.0
...          ...        ...        ...           ...         ...
9995       10051      82853        378             1        31.0
9996       10051      97751       2770             2        28.0
9997       10051      86917       6918             3        14.0
9998       10051       5431       5432             4        46.0
9999       10052      38654       8655             1        30.0

      l_extendedprice  l_discount  l_tax l_returnflag l_linestatus l_shipdate  \
0            21168.23        0.04   0.02            N            O 1996-03-13
1            45983.16        0.09   0.06            N            O 1996-04-12
2            13309.60        0.10   0.02            N            O 1996-01-29
3            28955.64        0.09   0.06            N            O 1996-04-21
4            22824.48        0.10   0.04            N            O 1996-03-30
...               ...         ...    ...          ...          ...        ...
9995         56911.35        0.08   0.04            N            O 1996-06-20
9996         48965.00        0.06   0.08            N            O 1996-06-04
9997         26654.74        0.08   0.00            N            O 1996-08-23
9998         61475.78        0.08   0.02            N            O 1996-07-11
9999         47779.50        0.07   0.06            A            F 1994-12-18

     l_commitdate l_receiptdate             l_shipinstruct  l_shipmode  \
0      1996-02-12    1996-03-22  DELIVER IN PERSON          TRUCK
1      1996-02-28    1996-04-20  TAKE BACK RETURN           MAIL
2      1996-03-05    1996-01-31  TAKE BACK RETURN           REG AIR
3      1996-03-30    1996-05-16  NONE                       AIR
4      1996-03-14    1996-04-01  NONE                       FOB
...           ...           ...                        ...         ...
9995   1996-07-17    1996-07-18  DELIVER IN PERSON          SHIP
9996   1996-06-24    1996-06-08  TAKE BACK RETURN           TRUCK
9997   1996-08-18    1996-09-10  TAKE BACK RETURN           REG AIR
9998   1996-08-21    1996-07-29  COLLECT COD                TRUCK
9999   1994-12-02    1994-12-29  NONE                       SHIP

                               l_comment
0                egular courts above the
1     ly final dependencies: slyly bold
2          riously. regular, express dep
3                lites. fluffily even de
4                pending foxes. slyly re
...                                  ...
9995      nal packages sleep along the r
9996                     final ideas sle
9997           ully even requests are fi
9998     eaves are after the blithely ev
9999            ove the blithely final a

[10000 rows x 16 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_orderkey"', '"l_partkey"', '"l_suppkey"', '"l_linenumber"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"', '"l_returnflag"', '"l_linestatus"', '"l_shipdate"', '"l_commitdate"', '"l_receiptdate"', '"l_shipinstruct"', '"l_shipmode"', '"l_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None)
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz in sqllogic neu erstellung. finalcte_name  pg2_sf1_lineitem_1_mlinid0_ctid  and newTIRESULT  TableInfo(data_object=      l_orderkey  l_partkey  l_suppkey  l_linenumber  l_quantity  \
0              1     155190       7706             1        17.0
1              1      67310       7311             2        36.0
2              1      63700       3701             3         8.0
3              1       2132       4633             4        28.0
4              1      24027       1534             5        24.0

sssssssssssssssssssssssss tb1_name block_mlinid4_6  uuuuuuuund  tb1       l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax
0           0.04   0.02
1           0.09   0.06
2           0.10   0.02
3           0.09   0.06
4           0.10   0.04
...          ...    ...
9995        0.08   0.04
9996        0.06   0.08
9997        0.08   0.00
9998        0.08   0.02
9999        0.07   0.06

[9843 rows x 7 columns]
sssssssssssssssssssssssss args ('l_extendedprice',) kwargs {} input_info InputInfo(dag_node=DagNode(node_id=4, code_location=BasicCodeLocation(caller_filename='<string-source>', lineno=67), operator_info=OperatorContext(operator=<OperatorType.SELECTION: 'Selection'>, function_info=FunctionInfo(module='pandas.core.frame', function_name='__getitem__')), details=DagNodeDetails(description='Select by Series: lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",\n               "l_extendedprice", "l_discount", "l_tax"]][(lineitem[\'l_shipdate\'] <= \'1998-09-01\')]', columns=['l_shipdate', 'l_returnflag', 'l_linestatus', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax']), optional_code_info=OptionalCodeInfo(code_reference=CodeReference(lineno=67, col_offset=5, end_lineno=68, end_col_offset=99), source_code='lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",\n               "l_extendedprice", "l_discount", "l_tax"]][(lineitem[\'l_shipdate\'] <= \'1998-09-01\')]')), annotated_dfobject=AnnotatedDfObject(result_data=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax
0           0.04   0.02
1           0.09   0.06
2           0.10   0.02
3           0.09   0.06
4           0.10   0.04
...          ...    ...
9995        0.08   0.04
9996        0.06   0.08
9997        0.08   0.00
9998        0.08   0.02
9999        0.07   0.06

[9843 rows x 7 columns], result_annotation=Empty DataFrame
Columns: []
Index: [])) singleton.pipeline_container.pipeline_query  ['CREATE VIEW pg2_sf1_lineitem_1_mlinid0_ctid AS (\n\tSELECT *, ctid AS pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem\n);\n', 'CREATE VIEW block_mlinid1_2 AS (\n\tSELECT "l_shipdate", "l_returnflag", "l_linestatus", "l_quantity", "l_extendedprice", "l_discount", "l_tax", pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem_1_mlinid0_ctid\n);\n', 'CREATE VIEW block_mlinid2_3 AS (\n\tSELECT "l_shipdate", pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem_1_mlinid0_ctid\n);\n', 'CREATE VIEW block_mlinid3_5 AS (\n\tSELECT ("l_shipdate") <= (\'1998-09-01\') AS op_4, pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem_1_mlinid0_ctid\n);\n', 'CREATE VIEW block_mlinid4_6 AS (\n\tSELECT "l_shipdate", "l_returnflag", "l_linestatus", "l_quantity", "l_extendedprice", "l_discount", "l_tax", pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem_1_mlinid0_ctid \n\tWHERE ("l_shipdate") <= (\'1998-09-01\')\n);\n', '\nSELECT "l_shipdate", "l_returnflag", "l_linestatus", "l_quantity", "l_extendedprice", "l_discount", "l_tax" FROM block_mlinid4_6;']
ssssssssssssssssssssssssss input infoSS [AnnotatedDfObject(result_data=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax
0           0.04   0.02
1           0.09   0.06
2           0.10   0.02
3           0.09   0.06
4           0.10   0.04
...          ...    ...
9995        0.08   0.04
9996        0.06   0.08
9997        0.08   0.00
9998        0.08   0.02
9999        0.07   0.06

[9843 rows x 7 columns], result_annotation=Empty DataFrame
Columns: []
Index: [])]  backend_result  BackendResult(annotated_dfobject=AnnotatedDfObject(result_data=0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64, result_annotation=Empty DataFrame
Columns: []
Index: []), dag_node_annotation={}, optional_second_annotated_dfobject=None, optional_second_dag_node_annotation=None) result  0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64
SSSSSSSSSSSSSSSSSSSSSSSSSSSS codeparts df['l_extendedprice'] optional_code_reference CodeReference(lineno=70, col_offset=4, end_lineno=70, end_col_offset=25)
ffffffffffffffffffffffffffffff targetdf
LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL WIR sind in finish_sql_call LLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
sqlcode  SELECT "l_extendedprice", pg2_sf1_lineitem_ctid
FROM block_mlinid4_6
result  0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64
tracking_cols  ['pg2_sf1_lineitem_ctid']
non_tracking_cols  None
origin_context  <mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD38460>
cte_name
PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP  Hier sind wir in Wrap_in_sql_obj in sql_logic PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
sqlcode SELECT "l_extendedprice", pg2_sf1_lineitem_ctid
FROM block_mlinid4_6
block_name
Und hier ist das ergebnis der beiden werte
sqlcode  CREATE VIEW block_mlinid5_7 AS (
	SELECT "l_extendedprice", pg2_sf1_lineitem_ctid
	FROM block_mlinid4_6
);

block_name  block_mlinid5_7
Hier will ich kurz wissen ob die Tableinfo ver√§ndert wurde
altes result tableinfo 0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64
neue tableinfo result TableInfo(data_object=0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_extendedprice"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD38460>)
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz in sqllogic neu erstellung. finalcte_name  block_mlinid5_7  and newTIRESULT  TableInfo(data_object=0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_extendedprice"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD38460>)
EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE herausfinden was mit dem mittleren trash ist. new_dfInfo  DfInfo(dfName='', tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_extendedprice"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD38460>, helper_source_code="    df['l_extendedprice']")
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz momentaner zustand len(viewmapping)  4  viewmapping  [('block_mlinid5_7', DfInfo(dfName='', tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_extendedprice"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD38460>, helper_source_code="    df['l_extendedprice']")), ('block_mlinid4_6', DfInfo(dfName='df ', tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_shipdate"', '"l_returnflag"', '"l_linestatus"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"'], operation_type=<OperatorType.SELECTION: 'Selection'>, origin_context=None, helper_source_code='df = lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",\n               "l_extendedprice", "l_discount", "l_tax"]][(lineitem[\'l_shipdate\'] <= \'1998-09-01\')]')), ('block_mlinid1_2', DfInfo(dfName='df ', tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_shipdate"', '"l_returnflag"', '"l_linestatus"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E8EEDC0>, helper_source_code='df = lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",\n               "l_extendedprice", "l_discount", "l_tax"]]')), ('pg2_sf1_lineitem_1_mlinid0_ctid', DfInfo(dfName='    df ', tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_orderkey"', '"l_partkey"', '"l_suppkey"', '"l_linenumber"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"', '"l_returnflag"', '"l_linestatus"', '"l_shipdate"', '"l_commitdate"', '"l_receiptdate"', '"l_shipinstruct"', '"l_shipmode"', '"l_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None, helper_source_code="    df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,\n                         dbms_connector_p.connection, parse_dates=parse_dates)"))]
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz momentaner zustand len(mapping)  6  mapping
block_mlinid5_7
block_mlinid4_6
block_mlinid3_5
block_mlinid2_3
block_mlinid1_2
pg2_sf1_lineitem_1_mlinid0_ctid
SQL_CODE LLL  CREATE VIEW block_mlinid5_7 AS (
	SELECT "l_extendedprice", pg2_sf1_lineitem_ctid
	FROM block_mlinid4_6
);

Ich stamme aus der Postgres-KLASSE!!!
CREATE VIEW block_mlinid5_7 AS (
	SELECT "l_extendedprice", pg2_sf1_lineitem_ctid
	FROM block_mlinid4_6
);
Hier sind die attribute am ende von finish_sql_call
sqlcode  CREATE VIEW block_mlinid5_7 AS (
	SELECT "l_extendedprice", pg2_sf1_lineitem_ctid
	FROM block_mlinid4_6
);

tracking_cols  ['pg2_sf1_lineitem_ctid']
non_tracking_cols  "l_extendedprice"
origin_context  <mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD38460>
final_cte_name  block_mlinid5_7
666666666666666666666 sql_code CREATE VIEW block_mlinid5_7 AS (
	SELECT "l_extendedprice", pg2_sf1_lineitem_ctid
	FROM block_mlinid4_6
);

55555555555555555555555555555 letzte line
SELECT "l_extendedprice" FROM block_mlinid5_7;
7777777777777777777 select_line
SELECT "l_extendedprice" FROM block_mlinid5_7;
88888888888888888888 pipeline_query ['CREATE VIEW pg2_sf1_lineitem_1_mlinid0_ctid AS (\n\tSELECT *, ctid AS pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem\n);\n', 'CREATE VIEW block_mlinid1_2 AS (\n\tSELECT "l_shipdate", "l_returnflag", "l_linestatus", "l_quantity", "l_extendedprice", "l_discount", "l_tax", pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem_1_mlinid0_ctid\n);\n', 'CREATE VIEW block_mlinid2_3 AS (\n\tSELECT "l_shipdate", pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem_1_mlinid0_ctid\n);\n', 'CREATE VIEW block_mlinid3_5 AS (\n\tSELECT ("l_shipdate") <= (\'1998-09-01\') AS op_4, pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem_1_mlinid0_ctid\n);\n', 'CREATE VIEW block_mlinid4_6 AS (\n\tSELECT "l_shipdate", "l_returnflag", "l_linestatus", "l_quantity", "l_extendedprice", "l_discount", "l_tax", pg2_sf1_lineitem_ctid\n\tFROM pg2_sf1_lineitem_1_mlinid0_ctid \n\tWHERE ("l_shipdate") <= (\'1998-09-01\')\n);\n', 'CREATE VIEW block_mlinid5_7 AS (\n\tSELECT "l_extendedprice", pg2_sf1_lineitem_ctid\n\tFROM block_mlinid4_6\n);\n', '\nSELECT "l_extendedprice" FROM block_mlinid5_7;']
TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT2
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º ergebnis_source_code     df['l_extendedprice'], df['l_discount']
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º caller_source_code in monkeypatching,  df['l_discount']
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente Original_func <function DataFrame.__getitem__ at 0x0000019A1B99C940>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente execute_inspections_func <function DataFramePatchingSQL.patched__getitem__.<locals>.execute_inspections at 0x0000019A3D8515E0>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente *args      l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax
0           0.04   0.02
1           0.09   0.06
2           0.10   0.02
3           0.09   0.06
4           0.10   0.04
...          ...    ...
9995        0.08   0.04
9996        0.06   0.08
9997        0.08   0.00
9998        0.08   0.02
9999        0.07   0.06

[9843 rows x 7 columns] l_discount
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente  **kwargs
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º der split[0]
√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂ sourcedf  df
√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂ caller_source_code  df['l_discount']
<_ast.Assign object at 0x0000019A3562E610>
vergleich astnode und last <_ast.Call object at 0x0000019A3D84C2E0> <_ast.Assign object at 0x0000019A3562E610>
vergleich helpernode und last <_ast.Call object at 0x0000019A3E5F3D90> <_ast.Assign object at 0x0000019A3562E610>
dump lastop Assign(targets=[Name(id='res', ctx=Store())], value=Call(func=Attribute(value=Call(func=Attribute(value=Name(id='df', ctx=Load()), attr='groupby', ctx=Load()), args=[List(elts=[Constant(value='l_returnflag', kind=None), Constant(value='l_linestatus', kind=None)], ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=73, kind=None), Constant(value=6, kind=None), Constant(value=73, kind=None), Constant(value=50, kind=None)], keywords=[]))]), attr='agg', ctx=Load()), args=[Dict(keys=[Constant(value='l_quantity', kind=None), Constant(value='l_extendedprice', kind=None), Constant(value='disc_price', kind=None), Constant(value='charge', kind=None), Constant(value='l_quantity', kind=None), Constant(value='l_extendedprice', kind=None), Constant(value='l_discount', kind=None), Constant(value='l_shipdate', kind=None)], values=[Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='mean', kind=None), Constant(value='mean', kind=None), Constant(value='mean', kind=None), Constant(value='count', kind=None)])], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=73, kind=None), Constant(value=6, kind=None), Constant(value=74, kind=None), Constant(value=104, kind=None)], keywords=[]))]), type_comment=None)
dump call_helper_ast_node Call()
dump call_ast_node Call()
vergleich echt last_op False
vllt alte linenummer? 70
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 70
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper op_id 6
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_code_reference CodeReference(lineno=70, col_offset=27, end_lineno=70, end_col_offset=43)
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_source_code df['l_discount']
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 70
XXXXXXXXXXXXXXXXXXXXXXXXXXXX HEY √ñMER ICH BIN IN PY_TO_SQL_MAPPING XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
hier sind df to find      l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax
0           0.04   0.02
1           0.09   0.06
2           0.10   0.02
3           0.09   0.06
4           0.10   0.04
...          ...    ...
9995        0.08   0.04
9996        0.06   0.08
9997        0.08   0.00
9998        0.08   0.02
9999        0.07   0.06

[9843 rows x 7 columns] UND SELF     <mlinspect.to_sql.py_to_sql_mapping.DfToStringMapping object at 0x0000019A03AF9730>

√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente *args      l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax  disc_price
0           0.04   0.02  20321.5008
1           0.09   0.06  41844.6756
2           0.10   0.02  11978.6400
3           0.09   0.06  26349.6324
4           0.10   0.04  20542.0320
...          ...    ...         ...
9995        0.08   0.04  52358.4420
9996        0.06   0.08  46027.1000
9997        0.08   0.00  24522.3608
9998        0.08   0.02  56557.7176
9999        0.07   0.06  44434.9350

[9843 rows x 8 columns] l_discount
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente  **kwargs
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º der split[0]
√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂ sourcedf  df
√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂ caller_source_code  df['l_discount']
<_ast.Assign object at 0x0000019A3562E610>
vergleich astnode und last <_ast.Call object at 0x0000019A3E629790> <_ast.Assign object at 0x0000019A3562E610>
vergleich helpernode und last <_ast.Call object at 0x0000019A3E641A30> <_ast.Assign object at 0x0000019A3562E610>
dump lastop Assign(targets=[Name(id='res', ctx=Store())], value=Call(func=Attribute(value=Call(func=Attribute(value=Name(id='df', ctx=Load()), attr='groupby', ctx=Load()), args=[List(elts=[Constant(value='l_returnflag', kind=None), Constant(value='l_linestatus', kind=None)], ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=73, kind=None), Constant(value=6, kind=None), Constant(value=73, kind=None), Constant(value=50, kind=None)], keywords=[]))]), attr='agg', ctx=Load()), args=[Dict(keys=[Constant(value='l_quantity', kind=None), Constant(value='l_extendedprice', kind=None), Constant(value='disc_price', kind=None), Constant(value='charge', kind=None), Constant(value='l_quantity', kind=None), Constant(value='l_extendedprice', kind=None), Constant(value='l_discount', kind=None), Constant(value='l_shipdate', kind=None)], values=[Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='sum', kind=None), Constant(value='mean', kind=None), Constant(value='mean', kind=None), Constant(value='mean', kind=None), Constant(value='count', kind=None)])], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=73, kind=None), Constant(value=6, kind=None), Constant(value=74, kind=None), Constant(value=104, kind=None)], keywords=[]))]), type_comment=None)
dump call_helper_ast_node Call()
dump call_ast_node Call()
vergleich echt last_op False
vllt alte linenummer? 72
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 72
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper op_id 11
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_code_reference CodeReference(lineno=72, col_offset=26, end_lineno=72, end_col_offset=42)
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_source_code df['l_discount']
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 72
XXXXXXXXXXXXXXXXXXXXXXXXXXXX HEY √ñMER ICH BIN IN PY_TO_SQL_MAPPING XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
hier sind df to find      l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax  disc_price
0           0.04   0.02  20321.5008
1           0.09   0.06  41844.6756
2           0.10   0.02  11978.6400
3           0.09   0.06  26349.6324
4           0.10   0.04  20542.0320
...          ...    ...         ...
9995        0.08   0.04  52358.4420
9996        0.06   0.08  46027.1000
9997        0.08   0.00  24522.3608
9998        0.08   0.02  56557.7176
9999        0.07   0.06  44434.9350

[9843 rows x 8 columns] UND SELF     <mlinspect.to_sql.py_to_sql_mapping.DfToStringMapping object at 0x0000019A03AF9730>
zzzzzzzzzzzzzzzzzz hier ist df_to_find      l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax  disc_price
0           0.04   0.02  20321.5008
1           0.09   0.06  41844.6756
2           0.10   0.02  11978.6400
3           0.09   0.06  26349.6324
4           0.10   0.04  20542.0320
...          ...    ...         ...
9995        0.08   0.04  52358.4420
9996        0.06   0.08  46027.1000
9997        0.08   0.00  24522.3608
9998        0.08   0.02  56557.7176
9999        0.07   0.06  44434.9350

[9843 rows x 8 columns]
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid10_14', TableInfo(data_object=0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_extendedprice"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E641D30>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid9_13', TableInfo(data_object=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax  disc_price
0           0.04   0.02  20321.5008
1           0.09   0.06  41844.6756
2           0.10   0.02  11978.6400
3           0.09   0.06  26349.6324
4           0.10   0.04  20542.0320
...          ...    ...         ...
9995        0.08   0.04  52358.4420
9996        0.06   0.08  46027.1000
9997        0.08   0.00  24522.3608
9998        0.08   0.02  56557.7176
9999        0.07   0.06  44434.9350

[9843 rows x 8 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_shipdate"', '"l_returnflag"', '"l_linestatus"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"', '"disc_price"'], operation_type=<OperatorType.PROJECTION_MODIFY: 'Projection (Modify)'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid8_12', TableInfo(data_object=0       20321.5008
1       41844.6756
2       11978.6400
3       26349.6324
4       20542.0320
           ...
9995    52358.4420
9996    46027.1000
9997    24522.3608
9998    56557.7176
9999    44434.9350
Name: op_11, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_11"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E618EB0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid7_10', TableInfo(data_object=0       0.96
1       0.91
2       0.90
3       0.91
4       0.90
        ...
9995    0.92
9996    0.94
9997    0.92
9998    0.92
9999    0.93
Name: op_9, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_9"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E5F2790>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid6_8', TableInfo(data_object=0       0.04
1       0.09
2       0.10
3       0.09
4       0.10
        ...
9995    0.08
9996    0.06
9997    0.08
9998    0.08
9999    0.07
Name: l_discount, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_discount"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E5F2A60>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid5_7', TableInfo(data_object=0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_extendedprice"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD38460>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid4_6', TableInfo(data_object=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax  disc_price
0           0.04   0.02  20321.5008
1           0.09   0.06  41844.6756
2           0.10   0.02  11978.6400
3           0.09   0.06  26349.6324
4           0.10   0.04  20542.0320
...          ...    ...         ...
9995        0.08   0.04  52358.4420
9996        0.06   0.08  46027.1000
9997        0.08   0.00  24522.3608
9998        0.08   0.02  56557.7176
9999        0.07   0.06  44434.9350

[9843 rows x 8 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_shipdate"', '"l_returnflag"', '"l_linestatus"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"'], operation_type=<OperatorType.SELECTION: 'Selection'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid3_5', TableInfo(data_object=0       True
1       True
2       True
3       True
4       True
        ...
9995    True
9996    True
9997    True
9998    True
9999    True
Name: op_4, Length: 10000, dtype: bool, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_4"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E577DC0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid2_3', TableInfo(data_object=0      1996-03-13
1      1996-04-12
2      1996-01-29
3      1996-04-21
4      1996-03-30
          ...
9995   1996-06-20
9996   1996-06-04
9997   1996-08-23
9998   1996-07-11
9999   1994-12-18
Name: l_shipdate, Length: 10000, dtype: datetime64[ns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_shipdate"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD4FBE0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid1_2', TableInfo(data_object=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax
0           0.04   0.02
1           0.09   0.06
2           0.10   0.02
3           0.09   0.06
4           0.10   0.04
...          ...    ...
9995        0.08   0.04
9996        0.06   0.08
9997        0.08   0.00
9998        0.08   0.02
9999        0.07   0.06

[10000 rows x 7 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_shipdate"', '"l_returnflag"', '"l_linestatus"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E8EEDC0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_lineitem_1_mlinid0_ctid', TableInfo(data_object=      l_orderkey  l_partkey  l_suppkey  l_linenumber  l_quantity  \
0              1     155190       7706             1        17.0
1              1      67310       7311             2        36.0
2              1      63700       3701             3         8.0
3              1       2132       4633             4        28.0
4              1      24027       1534             5        24.0
...          ...        ...        ...           ...         ...
9995       10051      82853        378             1        31.0
9996       10051      97751       2770             2        28.0
9997       10051      86917       6918             3        14.0
9998       10051       5431       5432             4        46.0
9999       10052      38654       8655             1        30.0

      l_extendedprice  l_discount  l_tax l_returnflag l_linestatus l_shipdate  \
0            21168.23        0.04   0.02            N            O 1996-03-13
1            45983.16        0.09   0.06            N            O 1996-04-12
2            13309.60        0.10   0.02            N            O 1996-01-29
3            28955.64        0.09   0.06            N            O 1996-04-21
4            22824.48        0.10   0.04            N            O 1996-03-30
...               ...         ...    ...          ...          ...        ...
9995         56911.35        0.08   0.04            N            O 1996-06-20
9996         48965.00        0.06   0.08            N            O 1996-06-04
9997         26654.74        0.08   0.00            N            O 1996-08-23
9998         61475.78        0.08   0.02            N            O 1996-07-11
9999         47779.50        0.07   0.06            A            F 1994-12-18

     l_commitdate l_receiptdate             l_shipinstruct  l_shipmode  \
0      1996-02-12    1996-03-22  DELIVER IN PERSON          TRUCK
1      1996-02-28    1996-04-20  TAKE BACK RETURN           MAIL
2      1996-03-05    1996-01-31  TAKE BACK RETURN           REG AIR
3      1996-03-30    1996-05-16  NONE                       AIR
4      1996-03-14    1996-04-01  NONE                       FOB
...           ...           ...                        ...         ...
9995   1996-07-17    1996-07-18  DELIVER IN PERSON          SHIP
9996   1996-06-24    1996-06-08  TAKE BACK RETURN           TRUCK
9997   1996-08-18    1996-09-10  TAKE BACK RETURN           REG AIR
9998   1996-08-21    1996-07-29  COLLECT COD                TRUCK
9999   1994-12-02    1994-12-29  NONE                       SHIP

                               l_comment
0                egular courts above the
1     ly final dependencies: slyly bold
2          riously. regular, express dep
3                lites. fluffily even de
4                pending foxes. slyly re
...                                  ...
9995      nal packages sleep along the r
9996                     final ideas sle
9997           ully even requests are fi
9998     eaves are after the blithely ev
9999            ove the blithely final a

[10000 rows x 16 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_orderkey"', '"l_partkey"', '"l_suppkey"', '"l_linenumber"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"', '"l_returnflag"', '"l_linestatus"', '"l_shipdate"', '"l_commitdate"', '"l_receiptdate"', '"l_shipinstruct"', '"l_shipmode"', '"l_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
sssssssssssssssssssssssss tb1_name block_mlinid9_13  uuuuuuuund  tb1       l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...

zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid4_6', TableInfo(data_object=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax  disc_price
0           0.04   0.02  20321.5008
1           0.09   0.06  41844.6756
2           0.10   0.02  11978.6400
3           0.09   0.06  26349.6324
4           0.10   0.04  20542.0320
...          ...    ...         ...
9995        0.08   0.04  52358.4420
9996        0.06   0.08  46027.1000
9997        0.08   0.00  24522.3608
9998        0.08   0.02  56557.7176
9999        0.07   0.06  44434.9350

[9843 rows x 8 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_shipdate"', '"l_returnflag"', '"l_linestatus"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"'], operation_type=<OperatorType.SELECTION: 'Selection'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid3_5', TableInfo(data_object=0       True
1       True
2       True
3       True
4       True
        ...
9995    True
9996    True
9997    True
9998    True
9999    True
Name: op_4, Length: 10000, dtype: bool, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_4"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E577DC0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid2_3', TableInfo(data_object=0      1996-03-13
1      1996-04-12
2      1996-01-29
3      1996-04-21
4      1996-03-30
          ...
9995   1996-06-20
9996   1996-06-04
9997   1996-08-23
9998   1996-07-11
9999   1994-12-18
Name: l_shipdate, Length: 10000, dtype: datetime64[ns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_shipdate"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD4FBE0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid1_2', TableInfo(data_object=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax
0           0.04   0.02
1           0.09   0.06
2           0.10   0.02
3           0.09   0.06
4           0.10   0.04
...          ...    ...
9995        0.08   0.04
9996        0.06   0.08
9997        0.08   0.00
9998        0.08   0.02
9999        0.07   0.06

[10000 rows x 7 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_shipdate"', '"l_returnflag"', '"l_linestatus"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E8EEDC0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_lineitem_1_mlinid0_ctid', TableInfo(data_object=      l_orderkey  l_partkey  l_suppkey  l_linenumber  l_quantity  \
0              1     155190       7706             1        17.0
1              1      67310       7311             2        36.0
2              1      63700       3701             3         8.0
3              1       2132       4633             4        28.0
4              1      24027       1534             5        24.0
...          ...        ...        ...           ...         ...
9995       10051      82853        378             1        31.0
9996       10051      97751       2770             2        28.0
9997       10051      86917       6918             3        14.0
9998       10051       5431       5432             4        46.0
9999       10052      38654       8655             1        30.0

      l_extendedprice  l_discount  l_tax l_returnflag l_linestatus l_shipdate  \
0            21168.23        0.04   0.02            N            O 1996-03-13
1            45983.16        0.09   0.06            N            O 1996-04-12
2            13309.60        0.10   0.02            N            O 1996-01-29
3            28955.64        0.09   0.06            N            O 1996-04-21
4            22824.48        0.10   0.04            N            O 1996-03-30
...               ...         ...    ...          ...          ...        ...
9995         56911.35        0.08   0.04            N            O 1996-06-20
9996         48965.00        0.06   0.08            N            O 1996-06-04
9997         26654.74        0.08   0.00            N            O 1996-08-23
9998         61475.78        0.08   0.02            N            O 1996-07-11
9999         47779.50        0.07   0.06            A            F 1994-12-18

     l_commitdate l_receiptdate             l_shipinstruct  l_shipmode  \
0      1996-02-12    1996-03-22  DELIVER IN PERSON          TRUCK
1      1996-02-28    1996-04-20  TAKE BACK RETURN           MAIL
2      1996-03-05    1996-01-31  TAKE BACK RETURN           REG AIR
3      1996-03-30    1996-05-16  NONE                       AIR
4      1996-03-14    1996-04-01  NONE                       FOB
...           ...           ...                        ...         ...
9995   1996-07-17    1996-07-18  DELIVER IN PERSON          SHIP
9996   1996-06-24    1996-06-08  TAKE BACK RETURN           TRUCK
9997   1996-08-18    1996-09-10  TAKE BACK RETURN           REG AIR
9998   1996-08-21    1996-07-29  COLLECT COD                TRUCK
9999   1994-12-02    1994-12-29  NONE                       SHIP

                               l_comment
0                egular courts above the
1     ly final dependencies: slyly bold
2          riously. regular, express dep
3                lites. fluffily even de
4                pending foxes. slyly re
...                                  ...
9995      nal packages sleep along the r
9996                     final ideas sle
9997           ully even requests are fi
9998     eaves are after the blithely ev
9999            ove the blithely final a

[10000 rows x 16 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_orderkey"', '"l_partkey"', '"l_suppkey"', '"l_linenumber"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"', '"l_returnflag"', '"l_linestatus"', '"l_shipdate"', '"l_commitdate"', '"l_receiptdate"', '"l_shipinstruct"', '"l_shipmode"', '"l_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
XXXXXXXXXXXXXXXXXXXXXXXXXXXX HEY √ñMER ICH BIN IN PY_TO_SQL_MAPPING XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
hier sind df to find 0       0.9792
1       0.9646
2       0.9180
3       0.9646
4       0.9360
         ...
9995    0.9568
9996    1.0152
9997    0.9200
9998    0.9384
9999    0.9858
Name: op_21, Length: 9843, dtype: float64 UND SELF     <mlinspect.to_sql.py_to_sql_mapping.DfToStringMapping object at 0x0000019A03AF9730>
zzzzzzzzzzzzzzzzzz hier ist df_to_find 0       0.9792
1       0.9646
2       0.9180
3       0.9646
4       0.9360
         ...
9995    0.9568
9996    1.0152
9997    0.9200
9998    0.9384
9999    0.9858
Name: op_21, Length: 9843, dtype: float64
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid15_22', TableInfo(data_object=0       0.9792
1       0.9646
2       0.9180
3       0.9646
4       0.9360
         ...
9995    0.9568
9996    1.0152
9997    0.9200
9998    0.9384
9999    0.9858
Name: op_21, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_21"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E653190>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid14_20', TableInfo(data_object=0       1.02
1       1.06
2       1.02
3       1.06
4       1.04
        ...
9995    1.04
9996    1.08
9997    1.00
9998    1.02
9999    1.06
Name: op_19, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_19"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E61CE20>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid13_18', TableInfo(data_object=0       0.96
1       0.91
2       0.90
3       0.91
4       0.90
        ...
9995    0.92
9996    0.94
9997    0.92
9998    0.92
9999    0.93
Name: op_17, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_17"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E61CFD0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid12_16', TableInfo(data_object=0       0.02
1       0.06
2       0.02
3       0.06
4       0.04
        ...
9995    0.04
9996    0.08
9997    0.00
9998    0.02
9999    0.06
Name: l_tax, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_tax"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E6044F0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid11_15', TableInfo(data_object=0       0.04
1       0.09
2       0.10
3       0.09
4       0.10
        ...
9995    0.08
9996    0.06
9997    0.08
9998    0.08
9999    0.07
Name: l_discount, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_discount"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E6275B0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid10_14', TableInfo(data_object=0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_extendedprice"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E641D30>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid9_13', TableInfo(data_object=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax  disc_price
0           0.04   0.02  20321.5008
1           0.09   0.06  41844.6756
2           0.10   0.02  11978.6400
3           0.09   0.06  26349.6324
4           0.10   0.04  20542.0320
...          ...    ...         ...
9995        0.08   0.04  52358.4420
9996        0.06   0.08  46027.1000
9997        0.08   0.00  24522.3608
9998        0.08   0.02  56557.7176
9999        0.07   0.06  44434.9350

[9843 rows x 8 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_shipdate"', '"l_returnflag"', '"l_linestatus"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"', '"disc_price"'], operation_type=<OperatorType.PROJECTION_MODIFY: 'Projection (Modify)'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid8_12', TableInfo(data_object=0       20321.5008
1       41844.6756
2       11978.6400
3       26349.6324
4       20542.0320
           ...
9995    52358.4420
9996    46027.1000
9997    24522.3608
9998    56557.7176
9999    44434.9350
Name: op_11, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_11"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E618EB0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid7_10', TableInfo(data_object=0       0.96
1       0.91
2       0.90
3       0.91
4       0.90
        ...
9995    0.92
9996    0.94
9997    0.92
9998    0.92
9999    0.93
Name: op_9, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_9"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E5F2790>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid6_8', TableInfo(data_object=0       0.04
1       0.09
2       0.10
3       0.09
4       0.10
        ...
9995    0.08
9996    0.06
9997    0.08
9998    0.08
9999    0.07
Name: l_discount, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_discount"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E5F2A60>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid5_7', TableInfo(data_object=0       21168.23
1       45983.16
2       13309.60
3       28955.64
4       22824.48
          ...
9995    56911.35
9996    48965.00
9997    26654.74
9998    61475.78
9999    47779.50
Name: l_extendedprice, Length: 9843, dtype: float64, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_extendedprice"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD38460>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid4_6', TableInfo(data_object=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax  disc_price
0           0.04   0.02  20321.5008
1           0.09   0.06  41844.6756
2           0.10   0.02  11978.6400
3           0.09   0.06  26349.6324
4           0.10   0.04  20542.0320
...          ...    ...         ...
9995        0.08   0.04  52358.4420
9996        0.06   0.08  46027.1000
9997        0.08   0.00  24522.3608
9998        0.08   0.02  56557.7176
9999        0.07   0.06  44434.9350

[9843 rows x 8 columns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols=['"l_shipdate"', '"l_returnflag"', '"l_linestatus"', '"l_quantity"', '"l_extendedprice"', '"l_discount"', '"l_tax"'], operation_type=<OperatorType.SELECTION: 'Selection'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid3_5', TableInfo(data_object=0       True
1       True
2       True
3       True
4       True
        ...
9995    True
9996    True
9997    True
9998    True
9999    True
Name: op_4, Length: 10000, dtype: bool, tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"op_4"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3E577DC0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid2_3', TableInfo(data_object=0      1996-03-13
1      1996-04-12
2      1996-01-29
3      1996-04-21
4      1996-03-30
          ...
9995   1996-06-20
9996   1996-06-04
9997   1996-08-23
9998   1996-07-11
9999   1994-12-18
Name: l_shipdate, Length: 10000, dtype: datetime64[ns], tracking_cols=['pg2_sf1_lineitem_ctid'], non_tracking_cols='"l_shipdate"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019A3DD4FBE0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid1_2', TableInfo(data_object=     l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax
0           0.04   0.02
1           0.09   0.06
2           0.10   0.02
3           0.09   0.06
4           0.10   0.04
...          ...    ...
9995        0.08   0.04
9996        0.06   0.08
9997        0.08   0.00
9998        0.08   0.02
9999        0.07   0.06


ENDLICH DAS SQL_RESULT    l_quantity  l_extendedprice    disc_price        charge  l_discount  \
0   25.522006     38273.129735  5.375826e+10  5.590907e+10    0.049985
1   25.516472     38284.467761  1.413082e+09  1.469649e+09    0.050093
2   25.502363     38249.322811  1.060518e+11  1.102979e+11    0.049997
3   25.505794     38250.854626  5.374129e+10  5.588962e+10    0.050009

   l_shipdate l_returnflag l_linestatus
0     1478493            A            F
1       38854            N            F
2     2918531            N            O
3     1478870            R            F
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb columns in agg [None, 'l_quantity', 'l_extendedprice', 'disc_price', 'charge', 'l_discount', 'l_shipdate']
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb non_tracking_columns in agg ['"l_quantity"', '"l_extendedprice"', '"disc_price"', '"charge"', '"l_discount"', '"l_shipdate"', '"l_returnflag"', '"l_linestatus"']
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb result.columns Index(['l_quantity', 'l_extendedprice', 'disc_price', 'charge', 'l_discount',
       'l_shipdate'],
      dtype='object')
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb [result.index.name] [None]
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb  list(result.columns) ['l_quantity', 'l_extendedprice', 'disc_price', 'charge', 'l_discount', 'l_shipdate']
df jjjjjjjjjjjjjjjjjjjjjjjjjjjj      l_shipdate l_returnflag l_linestatus  l_quantity  l_extendedprice  \
0    1996-03-13            N            O        17.0         21168.23
1    1996-04-12            N            O        36.0         45983.16
2    1996-01-29            N            O         8.0         13309.60
3    1996-04-21            N            O        28.0         28955.64
4    1996-03-30            N            O        24.0         22824.48
...         ...          ...          ...         ...              ...
9995 1996-06-20            N            O        31.0         56911.35
9996 1996-06-04            N            O        28.0         48965.00
9997 1996-08-23            N            O        14.0         26654.74
9998 1996-07-11            N            O        46.0         61475.78
9999 1994-12-18            A            F        30.0         47779.50

      l_discount  l_tax  disc_price        charge
0           0.04   0.02  20321.5008  20727.930816
1           0.09   0.06  41844.6756  44355.356136
2           0.10   0.02  11978.6400  12218.212800
3           0.09   0.06  26349.6324  27930.610344
4           0.10   0.04  20542.0320  21363.713280
...          ...    ...         ...           ...
9995        0.08   0.04  52358.4420  54452.779680
9996        0.06   0.08  46027.1000  49709.268000
9997        0.08   0.00  24522.3608  24522.360800
9998        0.08   0.02  56557.7176  57688.871952
9999        0.07   0.06  44434.9350  47101.031100

[9843 rows x 9 columns]
res jjjjjjjjjjjjjjjjjjjjjjjjjj    l_quantity  l_extendedprice    disc_price        charge  l_discount  \
0   25.522006     38273.129735  5.375826e+10  5.590907e+10    0.049985
1   25.516472     38284.467761  1.413082e+09  1.469649e+09    0.050093
2   25.502363     38249.322811  1.060518e+11  1.102979e+11    0.049997
3   25.505794     38250.854626  5.374129e+10  5.588962e+10    0.050009

   l_shipdate l_returnflag l_linestatus
0     1478493            A            F
1       38854            N            F
2     2918531            N            O
3     1478870            R            F

Time spend with modified SQL inspections (PSQL): 4.374591112136841

In [7]:
# The code generated using "VIEW" and "MATERIALIZED":

#run_for_all(pipeline_code, mode="VIEW", materialize=True)